body {
    background: linear-gradient(90deg, #77aad9, #ccd3db);
    margin: 0;
  }

  header {
    background-color: white;
    padding: 38px;
    text-align: center;
    margin: 0;
  }

  .home-button {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif; 
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px; /* Added margin-right to increase the gap */
  }

  .home-button:hover {
    color: #cc0000;
  }


  .logout-button {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif; 
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 10px;
  }

  .logout-button:hover {
    color: #cc0000;
  }

  .form-box {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 430px;
    width: 550px; /* Increased width to 600px */
    margin: 200px auto;
  }

  .form-box label {
    display: block;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 16px;
  }

  .form-box input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
  }

  .form__field {
    font-family: 'Open Sans', sans-serif; /* Added font-family property */
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form-box  button[type="submit"] {
    padding: 15px 225px;
    background-color: #ff6666;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 27px; /* Added margin-left:auto to move the button to the right */
  }

  .form-box button[type="submit"]:hover {
    background-color: #cc0000;
  }


  .form-box input[type="text"]::placeholder,
  .form-box input[type="file"]::placeholder {
    color: #999;
    position: relative;
    font-size: 18px;
    top: -5px; /* Adjusted the position vertically */
    left: 8px; /* Adjusted the position horizontally */
  }

  .form-box input[type="file"] {
    font-size: 17px; /* Smaller font size */
  }
  
  .upload-message {
    font-size: 20px;
    margin-top: 10px;
  }
